AudioKit-iOS/*
AudioKit-iOS/
.DS_Store
SeizeTheMuse.xcodeproj/xcuserdata/*.xcuserdatad
SeizeTheMuse.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdata
AudioKit.framework/
SeizeTheMuse.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate
