AudioKit-iOS/*
AudioKit-iOS/
.DS_Store
SeizeTheMuse.xcodeproj/xcuserdata/*.xcuserdatad
SeizeTheMuse.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdata
AudioKit.framework/
SeizeTheMuse.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate
SeizeTheMuse.xcodeproj/project.xcworkspace/xcuserdata/slade.xcuserdatad/UserInterfaceState.xcuserstate
SeizeTheMuse.xcodeproj/project.xcworkspace/xcuserdata/pota.xcuserdatad/UserInterfaceState.xcuserstate
SeizeTheMuse.xcodeproj/project.xcworkspace/xcuserdata/bastien.xcuserdatad/UserInterfaceState.xcuserstate
SeizeTheMuse.xcodeproj/project.xcworkspace/xcuserdata/trascar.xcuserdatad/UserInterfaceState.xcuserstate
